.author-detail {
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .author-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .author-detail-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 2rem;
    object-fit: cover;
  }
  
  .books-list {
    display: flex;
    flex-direction: column;
  }
  
  .book-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  
  .book-info {
    flex: 1;
  }
  
  .rating {
    color: #f4b400;
    margin: 0.5rem 0;
  }
  
  .price {
    display: flex;
    align-items: center;
  }
  
  .discount {
    background-color: red;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
  }
  
  .original-price {
    text-decoration: line-through;
    margin-right: 0.5rem;
  }
  
  .final-price {
    color: green;
    font-weight: bold;
  }
  
  .availability {
    color: green;
    font-weight: bold;
  }
  
  .shipping {
    color: gray;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .add-to-cart,
  .add-to-wishlist {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-to-wishlist {
    background-color: gray;
  }
  
  .add-to-cart:hover,
  .add-to-wishlist:hover {
    opacity: 0.8;
  }
  