.featured-authors {
    background-color: #f9f9f9;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .featured-authors h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #444;
  }
  
  .authors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .author-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    flex: 1 1 calc(50% - 2rem);
    display: flex;
    max-width: 500px;
    transition: transform 0.3s;
  }
  
  .author-card:hover {
    transform: scale(1.05);
  }
  
  .author-image {
    border-radius: 10px 0 0 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .author-info {
    padding: 1rem;
    flex: 1;
  }
  
  .author-info h3 {
    margin: 0 0 1rem;
    color: #333;
  }
  
  .author-info p {
    margin: 0 0 1rem;
    color: #666;
    line-height: 1.4;
  }
  
  .read-more {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .author-card {
      flex: 1 1 100%;
    }
  }
  