.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item-card img {
  height: 200px; 
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  border-radius: 10%;
}

.price {
  color: #e74c3c;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .item-card {
      margin: 5px;
  }
}

@media (min-width: 768px) {
  .item-card {
      margin: 10px;
  }
}

@media (min-width: 992px) {
  .item-card {
      margin: 15px;
  }
}

@media (min-width: 1200px) {
  .item-card {
      margin: 20px;
  }
}

.fa-star, .fa-star-o {
  color: #f39c12;
}
.mt-auto{ 
  font-weight: 600;
}
