.trending-books {
    padding: 20px;
    text-align: center;
  }
  
  .trending-books h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .swiper {
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 200px; /* Set a fixed width */
    height: 350px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px; /* Half of the spaceBetween value to balance the total space */
  }
  
  .book-image {
    width: 100%;
    height: auto;
    max-height: 150px; /* Ensure image does not exceed card height */
    object-fit: contain;
  }
  
  .discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
  }
  
  .book-title {
    font-size: 18px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .book-card p {
    font-size: 14px;
    color: #555;
  }
  
  .rating {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    color: #e74c3c;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .see-all {
    margin-top: 20px;
    color: red;
    cursor: pointer;
  }
  