.author-detail {
  margin: 20px;
}

.author-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author-detail-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-info {
  text-align: center;
}

.book-thumbnail {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount {
  color: white;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
}

.final-price {
  color: green;
  font-weight: bold;
}

.availability {
  font-weight: bold;
  color: green;
}

.shipping {
  color: gray;
}

.buttons {
  display: flex;
  gap: 10px;
}

.add-to-cart,
.add-to-wishlist {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart:hover,
.add-to-wishlist:hover {
  background-color: #0056b3;
}
