.component3 {
    margin: 20px auto;
    width:95% ;
    padding: 10px;
  }
  
  .swiperContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .swiperContent img {
    max-width: 100px;
  }
  
  .swiperContent p {
    margin-top: 10px;
  }
  
  /* Customize navigation buttons */
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Customize pagination bullets */
  .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.5);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000;
  }
  