.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .form-container p {
    text-align: center;
    margin-bottom: 30px;
    color: #6c757d;
  }
  
  .book-form .form-group {
    margin-bottom: 20px;
  }
  
  .book-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
  }
  
  .book-form .form-group input {
    width: calc(100% - 120px);
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .book-form .form-group input[type="email"] {
    width: calc(100% - 140px);
  }
  
  .book-form .form-group input:focus {
    border-color: #80bdff;
    outline: none;
  }
  
  .book-form .form-group .verify-btn {
    width: 120px;
    margin-left: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .book-form .form-group .verify-btn:hover {
    background-color: #0056b3;
  }
  
  .book-form .submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .book-form .submit-btn:hover {
    background-color: #218838;
  }
  