/* General Styles */
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}
.offer .swiper .swiper-01{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  font-size: 17px;
  color: aliceblue;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
}
.offer{
  margin: 0;
}


.content {
  flex: 1;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar .navContainer {
  width: 100%;
  margin: 0;
}

.firstrow {
  border: 1px solid red;
  margin-top: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: #444444;
}

.logo {
  width: 15vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.searchbox {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex-grow: 1;
}

.searchbox input {
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 4px;
  width: 50%;
}

.searchbox span {
  margin-left: -30px;
  cursor: pointer;
  color: red;
}

.userDetails {
  position: relative;
  margin-right: .8rem;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: red;
  font-size: 1.2em;
}

.user span {
  margin-left: 5px;
}

.user hr {
  margin: 0 10px;
  border: none;
  border-left: 1px solid #ccc;
  height: 20px;
  font-weight: bold;
}

.userhover {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  width: 200px;
  border-radius: 20px 0;
}

.userhover button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.userhover ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userhover ul li {
  padding: 10px 0;
  color: black;
}

.user:hover .userhover {
  display: block;
}

.cart-btn {
  cursor: pointer;
  color: red;
  padding: 0.65rem;
  font-size: 2rem;
}

.secondrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 90vw;
  font-size: 1.1em;
}

.secondrow span {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.secondrow span:hover,
.secondrow span p:hover {
  font-weight: 500;
}

.secondrow span p {
  margin: 0;
  font-size: 1em;
}

.secondrow hr {
  height: 20px;
  margin: 0 10px;
  border: none;
  border-left: 2px solid #c72c2c;
}

.userhover2 {
  display: none;
  position: absolute;
  width: 150px;
  margin: 5px;
  background: beige;
  z-index: 10;
  left: -18vw;
  border-radius: 10px 0;
  
}

.userhover2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.userhover2 ul li {
  box-sizing: border-box;
  color: rgb(63, 63, 63);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: "Conv_Cambria_Italic";
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
  text-size-adjust: 100%;
}

.userhover2 ul li:hover {
  background-color: rgb(192, 192, 192);
}

.nv2:hover .userhover2 {
  display: block;
}

.image-container {
  margin-bottom: 1.4rem;
  text-align: center;
  width: 100vw;
  height: 2rem;
}

.image-container img {
  max-width: 100vw;
  height: auto;
}

.imagesSwiper {
  width: 100%;
  height: 55px;
}
.imagesSwiper1{
  margin-top:2.4rem;
}

:root {
  --swiper-theme-color: black;
  --swiper-navigation-size: 20px;
}

/* Swiper Styles */
.swiper1 {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

/* Footer Styles */
.Footers {
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  width: 100vw;
}

.Footers .column1,
.Footers .column2,
.Footers .column3,
.Footers .column4 {
  flex: 1;
  padding: 0 10px;
}

.Footers ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Footers li {
  margin: 5px 0;
  cursor: pointer;
}

.Footers li:hover {
  text-decoration: underline;
}
 .swiper-02{
  border: 3px solid red;
}
